@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

code {
  font-family: 'Cascadia Code', 'Roboto Mono', 'Menlo', 'Consolas', 'Microsoft YaHei' !important;
}

.post-content, .markdown {
  font-size: 80%;
}

body, .post-content {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}

code, .post-content pre {
  font-size: 1.1rem;
  line-height: 1.2;
}
