@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/microsoft-yahei');

code {
  font-family: 'Source Code Pro', 'Consolas', 'Microsoft YaHei' !important;
}

.post-content, .markdown {
  font-size: 80%;
}

body, .post-content {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin: 0;
}

code, .post-content pre {
  font-size: 1.1rem;
  line-height: 1.2;
}
